<% include ../partials/header.ejs %>

<% if(currentUser && currentUser.isAdmin) { %>
  <h4 class="text-warning">you are admin</h4>
<% } %>

<div class="container">
    <header class="jumbotron">
      <div class="container">
        <h1>Welcome to camping</h1>
        <p>View out camps from all over the Ontario.</p>
        <a class="btn btn-primary btn-large" href="/camps/new">Add new camp</a>
        <p>
          <form action="/camps" method="GET" class="form-inline">
            <div class="form-group">
              <input type="text" name="search" placeholder="Search..." class="form-control mr-1">
              <input type="Submit" value="Search" class="btn btn-secondary">
              <a href="/camps" class="btn btn-secondary ml-3">See all</a>
            </div>
          </form>
        </p>
      </div>
    </header>
    <div class="row">
      <div class="col-lg-12">
        <h3>Our most Popular camps</h3>
      </div>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap:wrap">
      <% camps.forEach(function(camp) { %>
        <div class="col-md-4 col-sm-6">
          <div class="card mb-3" style="background:lightgray">
            <img id="index-cards" class="img-fluid " src="<%= camp.image %>">
            <div class="caption">
              <h4><%= camp.name%></h4>
            </div>
            <p><a class="btn btn-primary" href="/camps/<%= camp._id %>">More info</a></p>
          </div>
        </div>
      <% }); %>
    </div>

<% include ../partials/footer.ejs %>
</div>
