<% include partials/header.ejs %>

<div class="container">
  <a href="/index">Back</a>
  <h3><%= camp.name%></h3>
  <img src="<%= camp.image %>">
  </br></br></br>
  <p><%= camp.description %></p>
</div>


<% include partials/footer.ejs %>
